:root {
    --color1: #fff;
    --color2: #272838;
    --color3: #ddd;
    --color4: #5D536B;
    --color5: lightgreen;
    --color6: red;
    --color7: orange;
    --color8: green;
    --color9: #989FCE;
    --color10: #867da7;
    --color11: #423E52

    --tipografia1: Arial, Helvetica, sans-serif;
    --tipografia2: Verdana;
    --tipografia3: "Fascinate Inline", system-ui;
    --tipografia4: Georgia, 'Times New Roman', Times, serif;
    --tipografia5: "Caveat", cursive;
}

@font-face {
    font-family: 'Andada';
    src: url('fonts/Andada-Regular.eot');
    src: url('fonts/Andada-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Andada-Regular.woff2') format('woff2'),
        url('fonts/Andada-Regular.woff') format('woff'),
        url('fonts/Andada-Regular.svg#Andada-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



body {
    font-family: var(--tipografia1);
    font-size: 2rem;
    text-align: center;
    background-color: var(--color7);
}

h1 {
    font-family: var(--tipografia3);
    color: var(--color9);
    font-weight: 400;
    font-style: normal;
}



p {
  font-family: var(--tipografia5);
  color: var(--color9);
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  margin:0 auto;
  max-width: 1920px;
  font-family: 'Andada';
}

.progres {
    height: 10px;
    width: 100%;
    background: var(--color10);
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 1000;
    scale: 0 1;
    animation: analitzador linear;
    animation-timeline: scroll();
    -webkit-animation-timeline: scroll();
       -moz-animation-timeline: scroll();
            animation-timeline: scroll();
}

@keyframes analitzador {
    to {
        scale: 1 1;
    }
}

@media (max-width:480px) 
    {
        body {
        background-color: var(--color6);
    }

    }


@media (min-width:481px) and (max-width:1279px) 
    {
        body {
            background-color: var(--color8);
    }

        p {
            margin: 2rem;
    }


    }

    @media (min-width:1280px)
    {
        body {
            background-color: var(--color2);
    }

        p{
            columns: 2;
            text-align: justify;
        }
    }

.rodona {
    width: 15rem;
    height: 15rem;
    background: var(--color4);
    border-radius: 50%;
    margin: auto;
}