body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.contenidor {
    width: 1716px;
    margin: auto;
}

.nav {
    height: 166px;
}

.friends {
    height: 180px;
    width: 1200px;
    margin: auto;
}

.pics {
    height: 1860px;
}

.logo {
    width: 212px;
    height: 42px;
    background-color: lightpink;
    float: left;
    background-image: url(../IMG/logo.jpg);
    margin: 50px 0 0 0;
}

.menu {
    width: 307px;
    height: 53px;
    float: left;
    margin: 45px 0 0 492px;

}
.menu ul{
    margin: 0;
}

.menu ul li {
    width: 40px;
    height: 40px;
    margin: 0 10px;
    float: left;
    display: block;
    background-image: url(../IMG/menu.jpg);
}

 .menu ul li:hover{
    opacity: 0.8;
 }

.inici {
    background-position: -10px -5px;
}

.cerca {
    background-position: -94px -5px;
}

.directes {
    background-position: -177px -5px;
}

.favorits {
    background-position: -262px -5px ;
}

.perfil {
    width: 80px;
    height: 120px;
    margin: 20px;
    float: left;
    text-align: center;
    opacity: 0.6;

}
.foto {
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-image: url(../IMG/perfil.jpg);
    border: brown 5px solid;
    box-shadow: inset 0px 0px 2px white;
} 

.alba {
    background-image: url(../IMG/alba.jpeg);

}

.jana {
    background-image: url(../IMG/jana.jpeg)
}


.miki {
    background-image: url(../IMG/miki.jpeg);
}

.nana {
    background-image: url(../IMG/nana.jpeg);

}

.judit {
    background-image: url(../IMG/judit.jpeg);
}

.vane {
    background-image: url(../IMG/vane.jpeg);
}

.genis {
    background-image: url(../IMG/genis.jpeg);
}

.iris {
    background-image: url(../IMG/iris.jpeg);
}

.ana {
    background-image: url(../IMG/ana.jpeg);
}

.cris {
    background-image: url(../IMG/cris.jpeg);
}

.perfil:hover {
    opacity: 1;
}

.afegir {
    width: 20px;
    height: 20px;
    background: lightseagreen;
    border-radius: 50%;
    border: 5px solid white;
    position: relative;
    left:60px;
    top: -75px;
    color: white;
    line-height: 20px;
}




.post {
    height: 620px;
    width: 536px;
    margin: 18px;
    float: left;

}

.imatge {
    height: 536px;
    width: 536px;
    background-image: url(../IMG/ifpagram-sect_12.jpg);
    background-position: center;
    background-size: cover;
}

.info {
    width: 268px;
    height: 84px;
    float: left;
}

.reaccions {
    width: 268px;
    height: 84px;
    float: left;
    background: lightblue;
}

.autor {
    width: 50px;
    height: 50px;
    margin: 10px;
    background-image: url(../IMG/cris.jpeg);
    background-size: cover;
    border-radius: 50%;
    float: left;
}

.usuari {
    height: 25px;
    width: 198px;
    margin: 10px 0 0 0;
    float: left;
    font-weight: bold;

}

.quan {
    height: 25px;
    width: 198px;
    font-size: 12px;
    color: grey;
    margin: 0;
    float: left;
}

.likes {
    height: 25px;
    width: 80px;
    float: left;
    margin: 13px 30px 0 80px;
    text-align: left;
    font-weight: bold;
    background: orange;
}

.cors {
    height: 25px;
    width: 25px;
    background-image: url(../IMG/menu.jpg);
    background-position: 315px;
    background-size: cover;
    float: left;
    margin: 13px -15px;
}

.mes {
    height: 25px;
    width: 80px;
    margin:0 0 0 80px;
    text-align: left;
    clear: both;
    background: red;
}

.i1 {
    background-image: url(../IMG/ifpagram-sect_10.jpg);
}

.i2 {
    background-image: url(../IMG/ifpagram-sect_12.jpg);
}

.i3 {
    background-image: url(../IMG/ifpagram-sect_14.jpg);
}

.i4 {
    background-image: url(../IMG/ifpagram-sect_19.jpg);
}

.i5 {
    background-image: url(../IMG/ifpagram-sect_20.jpg);
}

.i6 {
    background-image: url(../IMG/ifpagram-sect_21.jpg);
}

.i7 {
    background-image: url(../IMG/ifpagram-sect_25.jpg);
}

.i8 {
    background-image: url(../IMG/ifpagram-sect_26.jpg);
}

.i9 {
    background-image: url(../IMG/ifpagram-sect_27.jpg);
}

input[type=checkbox] {
  visibility: hidden;
}

.cor {
  margin: 0 0 0;
  width: 1rem;
  height: 1rem;
  position: relative;
  background-image: url(https://www.svgrepo.com/show/95200/favourite-heart.svg);
  background-size: 1rem 1rem;
  background-size: cover;
  float: left;
  margin: 13px -10px;
  background-repeat: no-repeat;
  
}

.cor label{
  display: block;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  position: absolute;
  top:0;
  left:0;
  opacity:0;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/8/86/A_perfect_SVG_heart.svg/684px-A_perfect_SVG_heart.svg.png?20180121090836);
  background-size: 1rem 1rem;
}

.cor input[type=checkbox]:checked+label{
  opacity:1;
}