body {
    background-color: white;
}

.logo{
    height: 200px;
    width: 200px;
    background-color: rgb(0, 30,54);
    border-radius: 20%;

    font-size: 130px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: auto;
    align-content: center;
    text-align: center;
    letter-spacing: -4px;
    color : rgb(49, 168, 255);
}

.contenidor {
    width: 1100px;
    margin: auto;
}

.efecte {
    margin: 10px;
    width: 200px;
    float: left;

}

.efecte img {
    width: 190px;
}

.efecte p {
    text-align: center;
}

.efecte input {
    width: 195px;
}

.desenfocar img{
    -webkit-filter: blur(10px);
       -moz-filter: blur(10px);
         -o-filter: blur(10px);
            filter: blur(10px);
}

.grisos img{
    filter: grayscale(100%);
}

.ombra img{
    filter: drop-shadow(6px 6px 6px purple);
}

.sepia img{
    filter: sepia(100%);
}

.lluminositat img{
    filter: brightness(200%);
}

.contrast img{
    filter: contrast(40%);
}

.to img{
    filter: hue-rotate(90deg);
}

.invertir img{
    filter: invert(100%);
}

.saturar img{
    filter: saturate(200%);
}

.opacitat img{
    filter: opacity(50%);
}


