body {

    margin: 0;
    font-family: helvetica;

}

h1{
    color: purple;
    text-align: center;
    text-shadow: 1px 1px 4px grey;
}

.contenidor {
    width: 1280px;
    margin : auto
}

.cap {
    height: 110px;
}

.cos {
    height: 800px;
    overflow: auto;
    overflow: hidden;
    overflow: visible;
    overflow: scroll;
    
}

.peu {
    background-color: black;
    height: 300px;
}

li{
    background-color: white;
    height: 50px;
    width: 180px;
    margin: 10px;
    float: left;
}

p {
    text-indent: 50px;
    padding: 10px;
}

.esquerra, .centre, .dreta {

    width: 20%;
    float: left;
}

.esquerra {
    
}

.centre {
    background-color: purple;
    height: 600px;
    width: 60%;
    overflow: scroll;
    color: white;
}

.dreta {
    background-color: green;  
}